* {
  margin: 0;
  padding: 0;
}
ul {
  li {
    list-style: none;
  }
}
a {
  text-decoration: none;
}
img {
  vertical-align: middle;
  width: 100%;
}
button {
  background: white;
  outline: none;
  border: 0;
}
h1 {
  font-family: "NotoSansCJKkr-Bold";
}
h2 {
  font-family: "NotoSansCJKkr-Medium";
}
h3,
span {
  font-family: "NotoSansCJKkr-Regular";
}
h4,
p {
  font-family: "NotoSansCJKkr-DemiLight";
}
